.plant-card{
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 20px ;
}
.plant-title{
    font-size: 20px;
}
.plant-card-img{
    height: 100px;
    width: 150px;
    object-fit: cover;
}
.plant-card-action-btn{
    background-color: black;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 3px 20px;
    margin: 0 20px;
    cursor: pointer;
}