body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-heading{
    justify-content: center;
    text-align: center;
    font-size: 30px; 
  
}
h1{
    font-size: 30px; 
}

.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}
input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #218838;
}


.show-all-button {
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
   
}
.show-all-button:hover {
    background-color: #0056b3;
}