.add {
    height: 80px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100 !important;
    cursor: pointer;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        scale: 1.2;
    }
}
.main-title {
    text-align: center;
}